// Bootstrap //
@import "../bootstrap/scss/bootstrap";


// Custom style //
// global
@import './global';

// components
@import './components/page_layout';
@import './components/header';
@import './components/input';
@import './components/form';
@import './components/profile-card';
@import './components/section-header';
@import './components/pricing-card';
@import './components/review-card';
@import './components/show-more';

// section
@import './sections/banner';
@import './sections/feature';
@import './sections/why-us';
@import './sections/success-story';
@import './sections/footer';