.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    * {
        margin: 0;
    }

    &__icon {
        height: 54px;
        width: 54px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $color_bg-2;

        i {
            font-size: 24px;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
    }

    &__number {
        font-size: 20px;
        font-weight: 600;
        color: $color_dark;

        &:hover {
            color: $color_primary;
        }
    }

    .socials {
        a {
            color: $color_dark;
            margin-right: 20px;
            display: inline;

            &:hover {
                color: $color_primary;
            }
        }
    }
}