.header {
    background-color: $white;
    box-shadow: $box-shadow-drop-1;

    .navbar-brand {
        margin-right: 100px;

        img {
            width: 200px;
        }
    }

    .navbar-toggler {
        background: $color_gradient-1;
        padding: 8px 14px;

        i {
            color: $white;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .offcanvas {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-nav {
        .nav-item {
            &:not(:last-of-type) {
                margin-right: 40px;
            }
        }

        .nav-link {
            color: $color_dark;
            padding: 38px 0;
            border-bottom: 2px solid transparent;
            transition: 0.3s;

            &:hover {
                border-color: $color_primary;
            }
        }

        .active {
            color: $color_primary;
            border-color: $color_primary;
        }
    }
}

.auth_button {
    display: flex;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width: 1199px) {
    .header {
        .navbar-brand {
            margin-right: 60px;

            img {
                width: 150px;
            }
        }
    }

}


@media screen and (max-width: 991px) {
    .header {
        padding: 8px 16px;

        .navbar-brand {
            margin-right: 0;

            img {
                width: 120px;
            }
        }

        .offcanvas {
            margin-top: 78px;
            flex-direction: column;
            overflow-y: scroll;
            justify-content: space-around;
            align-items: start;
            padding: 12px;

            .btn_cancel {
                position: absolute;
                top: 12px;
                right: 12px;
                width: 44px;
                height: 44px;
                background-color: $color_secondary;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 20px;
                    color: $white;
                }

                &:active {
                    box-shadow: none;
                    border-color: transparent;
                    background: $color_gradient-1;
                }
            }
        }

        .navbar-nav {
            width: 100%;
            margin-top: 20px;

            .nav-item {
                &:not(:last-of-type) {
                    margin-right: 0;
                }
            }

            .nav-link {
                padding: 12px 6px;
            }
        }
    }

    .auth_button {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px) {
    .header {
        .navbar-brand {
            margin-right: 0;

            img {
                width: 90px;
            }
        }

        .offcanvas {
            margin-top: 66px;
        }
    }
}