// button
.btn {
    padding: 9px 18px;
    border: none;
    transition: $transition-base;
    font-weight: 500;
    border-radius: 5px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn_primary {
    background: $color_gradient-1;
    color: $white;

    &:hover,
    &:active,
    &:focus {
        background: $color_gradient-2;
        color: $white !important;
    }
}

.btn_outline {
    border: 1px solid $color_primary;

    &:hover,
    &:focus {
        background: $color_gradient-1;
        border-color: $color_primary !important;
        color: $white !important;
    }
}