.page__layout {
    padding-top: 102px;

    @media screen and (max-width: 991px) {
        padding-top: 77px;

    }

    @media screen and (max-width: 767px) {
        padding-top: 66px;
    }

}


.section_gap {
    padding: 80px 40px;

    @media screen and (max-width: 1199px) {
        padding: 60px 30px;
    }

    @media screen and (max-width: 991px) {
        padding: 50px 24px;
    }

    @media screen and (max-width: 767px) {
        padding: 40px 20px;
    }

    @media screen and (max-width: 575px) {
        padding: 30px 16px;
    }
}