.review-card {
    text-align: center;
    height: 100%;

    &__star {
        color: $orange;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 20px;
        margin-bottom: 30px;
    }

    &__user {
        display: inline-flex;
        align-items: center;
        gap: 12px;

        h4 {
            font-size: 16px;
        }
    }
}