.section-header {
    margin-bottom: 74px;
    text-align: center;

    &__title {
        font-size: 54px;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: 40px;
        margin-bottom: 20px;
    }

    &__description {
        font-size: 18px;
        margin-bottom: 0;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }


    @media screen and (max-width: 575px) {
        margin-bottom: 40px;

        &__title {
            font-size: 30px;
        }

        &__subtitle {
            font-size: 30px;
        }

        &__description {
            font-size: 16px;
        }
    }
}